html{
    scrollbar-width: none;
}
.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 2px;
    box-shadow: 0px 4px 10px rgba(46, 46, 46, 0.19);
    height: 45vh;
    width: 200px;
    border-radius: 12px;
    
}
.img{
    width: 180px;
    height: 120px;
    background: #f5e6db;
}
.shad{
    box-shadow: 2px 2px 0px #fcfcfc, 3px 3px 0px #2e2e2e ;
    transition: .4s ease-in-out;
}
.ab{
    position: absolute;
    top:-300px;
    left: -120px;
    transform: rotate(98deg);
}

@media (max-width: 1023px) {
  .ab {
    top: -200px;
    left: -60px;
    width: 280px;
  }
}

/* Mobile */
@media (max-width: 640px) {
  .ab {
    position: relative;
    top: 0;
    left: 0;
    transform: rotate(98deg);
    width: 100%;
    margin: auto;
  }
}